@page "/lab1"

<PageTitle>Weather forecast</PageTitle>

@using Crypto_Blazor.Data
@inject WeatherForecastService ForecastService

<label>Сообщение</label>
<br />
<input @bind-value="@message" />
<br />
<br />
<input @bind-value="@size" type="text" />
<br />
<button @onclick="Crypt"> Зашифровать</button>
<button @onclick="DeCrypt"> Расшифровать</button>
<p>
    @if (size != null)
    {
        <TableComponent Message="@message" Size="@size.Length"/>
    }
</p>
<p>
    <h4>Зашифрованное сообщение</h4>
    <h4>@result</h4>
</p>
<p>
    <h4>Расшифрованное сообщение</h4>
    <h4>@resultTwo</h4>
</p>
@code {
    string message;
    char[] messageChar;
    string size;
    string result;
    string resultTwo;
    string y;
    int rowCount;
    private WeatherForecast[]? forecasts;
    async void Crypt()
    {
        result = await ForecastService.Lab1_Crypto(message, size);
        y = message;
        StateHasChanged();
    }

    async void DeCrypt()
    {
        resultTwo = y;
        //resultTwo = await ForecastService.Lab1_DeCrypto(result, size);
        //resultTwo = message;
    }
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
